<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.rg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.BasketMapper">
	
	<insert id="insert">
		INSERT INTO sbTbl (sbNum, sb_id, sb_proNum, sb_title, sb_price, sb_amount, sb_size, sb_color) 
					VALUES (sbNum.nextval, null, #{sb_proNum}, #{sb_title}, #{price}, #{amount}, #{product_size}, #{color})
	</insert>
	
	
</mapper>