<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.BoardAttachMapper">
	<insert id="insert">
		INSERT INTO clothesImage (uploadPath, fileName, boardNum) values (#{uploadPath), #{fileName}, #{boardNum})	
	</insert>
	
	<select id="findByBno" resultType="com.ict.persistent.BoardAttachVO">
		SELECT * FROM clothesImage WHERE boardNum = #{boardNum}
	</select>


</mapper>