<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.BoardMapper">

	<select id="getList" resultType="com.ict.persistent.BoardVO">
		<![CDATA[
			SELECT * FROM boardTbl ORDER BY boardNum desc
		]]>
	</select>
	
	<select id="getListDetail" resultType="com.ict.persistent.BoardVO">
		SELECT * FROM boardTbl WHERE boardNum=#{boardNum}
	</select>
	
	<insert id="insertBoard">
		INSERT INTO boardTbl (boardNum, name, content, image, kind, hit, price, amount)
			VALUES (boardNum.nextval, #{name}, #{content}, null, #{kind}, 0, #{price}, #{amount})
	</insert>
	
	
</mapper>