<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.BoardMapper">
	<resultMap type="com.ict.persistent.BoardVO" id="boardMap">
	<id property="BoardNum" column="BoardNum" />
	<result property="name" column="name" />
	<result property="content" column="content" />
	<result property="image" column="image" />
	<result property="kind" column="kind" />
	<result property="useyn" column="useyn" />
	<result property="hit" column="hit" />
	<result property="bdate" column="bdate" />
	<result property="price" column="price" />
	<result property="amount" column="amount" />
	<collection property="colorList" resultMap="colorMap"></collection>
	<collection property="sizeList" resultMap="sizeMap"></collection>
	</resultMap>
	
	<resultMap type="com.ict.persistent.ColorVO" id="colorMap">
		<result property="BoardNum" column="BoardNum" />
		<result property="color" column="color" />
	</resultMap>
	
	<resultMap type="com.ict.persistent.SizeVO" id="sizeMap">
		<result property="BoardNum" column="BoardNum" />
		<result property="sizeName" column="sizeName" />
	</resultMap>

	<select id="getList" resultType="com.ict.persistent.BoardVO">
		<![CDATA[
			SELECT * FROM boardTbl ORDER BY boardNum desc
		]]>
	</select>
	
	<select id="getListDetail" resultType="com.ict.persistent.BoardVO">
		SELECT * FROM boardTbl WHERE boardNum=#{boardNum}
	</select>

	<select id="getBoardNum" resultType="int">
		SELECT boardNum.nextval as boardNum FROM DUAL
	</select>
	
	<select id="read" resultMap="boardMap">
		SELECT
			m.boardNum, name, content, image, kind, useyn, hit, bdate, price, amount , a.color, b.sizeName
			 FROM
			boardTbl m LEFT OUTER JOIN colorTbl a on m.boardNum = a.boardNum
			LEFT OUTER JOIN sizeTbl b on m.boardNum = b.boardNum
			WHERE m.boardNum = #{boardNum}
	</select>
	
	
	<insert id="insertBoard">
		INSERT INTO boardTbl(boardNum, name, content, image, kind, hit, price, amount)
			VALUES
		(#{boardNum}, #{name}, #{content}, null, #{kind}, 0, #{price}, #{amount})
	</insert>
	
	<update id="insertBoardColor">
		INSERT ALL
		<foreach collection="colorList" item="item" separator=" ">
			INTO colorTbl(boardNum, color) VALUES (#{item.boardNum}, #{item.color})
		</foreach>
		SELECT * FROM DUAL	
	</update>
	
	<update id="insertBoardSize">
	 	INSERT ALL
		<foreach collection="sizeList" item="items" separator=" ">
			INTO sizeTbl(boardNum, sizeName) VALUES (#{items.boardNum}, #{items.sizeName})
		</foreach>
		SELECT * FROM DUAL
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM boardTbl WHERE boardNum=#{boardNum}
	</delete>
	
	<delete id="deleteColor">
		DELETE FROM colorTbl WHERE boardNum=#{boardNum}
	</delete>
	
	<delete id="deleteSize">
		DELETE FROM sizeTbl WHERE boardNum=#{boardNum}
	</delete>
	
	<insert id="imageEnroll">
	  	<selectKey resultType="int" keyProperty="bookId" order="BEFORE">
  			SELECT MAX(bookId) FROM boardTbl
  		</selectKey>
		insert into vam_image(boardNum, fileName, uploadPath, uuid) values (#{boardNum}, #{fileName}, #{uploadPath}, #{uuid})
	</insert>
	
	
</mapper>