<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.BuyMapper">

	<insert id="insertBuy">
		INSERT INTO buyTbl (merchant_uid, buyer, buydate, buy_price, buyColor, buySize) 
			values (#{merchant_uid}, #{buyer}, sysdate, #{buy_price}, #{buyColor}, #{buySize})
	</insert>







</mapper>