<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.ColorMapper">

	<select id="getList" resultType="com.ict.persistent.ColorVO">
		<![CDATA[
			SELECT * FROM colorTbl
		]]>
	</select>
	
	<select id="getListDetail" resultType="com.ict.persistent.ColorVO">
		SELECT * FROM colorTbl WHERE boardNum=#{boardNum}
	</select>
	
	<insert id="insertColor">
		INSERT INTO colorTbl (colorNum, color) VALUES (#{colorNum}, #{color})
	</insert>
	
</mapper>