<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.rg/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ict.mapper.NoticeMapper">

	<select id="getList" resultType="com.ict.persistent.NoticeVO">
		<![CDATA[
			SELECT * FROM noticeTbl ORDER BY nt_num desc
		]]>
	</select>
	
	<select id="getListDetail" resultType="com.ict.persistent.NoticeVO">
		SELECT * FROM noticeTbl WHERE nt_num=#{nt_num}
	</select>
	
	<insert id="insert">
		INSERT INTO noticeTbl (nt_num, nt_title, nt_content, nt_writer) VALUES (nt_num.nextval, #{nt_title}, #{nt_content}, #{nt_writer})
	</insert>
	
	<delete id="delete">
		DELETE FROM noticeTbl WHERE nt_num=#{nt_num}
	</delete>
	
	<update id="update">
		UPDATE noticeTbl SET nt_title=#{nt_title}, nt_content=#{nt_content}, nt_writer=#{nt_writer}, nt_date=SYSDATE WHERE nt_num=#{nt_num}
	</update>
</mapper>